{% extends 'base.html.twig' %}

{% block title %}Page accueil{% endblock %}

{% block monTitre %}{% endblock %}

{% block body %}
<h2 class="text-center mt-5">Bienvenue sur la home page des Aliments</h2>
{% endblock %}
