{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="border border-dark bg-primary rounded p-2 m-2 text-white">{% block monTitre %}{% endblock %}</h1>

    {% block content %}{% endblock %}

{% endblock %}